body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  overflow: hidden
}

h1 {
  text-align: center;
}

.content {
  display: flex;
}

/////////////////////////////////// Api
label {
  color: rgb(0, 110, 255);
}

.fetching {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  left: auto;
}

.api-fetching {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.api-fetching:focus {
  color: #00b4cc;
}

.fetchButton {
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

.fetchButton:hover {
  background-color: orange;
  font-size: 1.5em;
}

.fetchButton:active {
  background-color: orange;
  font-size: 1.2em;
}

/////////////////////////////////// Bin
#bin {
  position: absolute;
  right: 50px;
  top: 30px;
  width: 80px;
  height: 100px;
  background-image: url("https://www.freeiconspng.com/thumbs/garbage-bin-png/recycle-bin-garbage-bin-png-22.png");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

/////////////////////////////////// Board
.board {
  width: 750px;
}

.query-root,
.query-type,
.query-data {
  border: 1px solid red;
  height: 100%;
}

.mutation-board,
.query-board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 10px;
  border-radius: 10px;
  width: 700px;
  padding: 10px;
  min-height: 250px;
  background: #436e747c;
  font-size: 80px;
  text-align: center;
  color: grey;
  vertical-align: middle;
}

.mutation-board > button, 
.query-board > button {
  position: absolute;
  width: 120px;
}

.left, .right {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 4%;
  top: 30%;
}

.right {
  left: 85%;
}

.line {
  transform-origin: top left;
  height: 2px;
  background: orange;
  position: absolute;
}

.type, .root {
  position: absolute;
  margin: 5px;
  height: 36px;
  width: 120px;
  border: 2px solid #ffffff;
  background: rgb(146, 52, 104);
  left: 10px;
  top: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 10x;
  justify-content: center;
  align-items: center;
  display: flex;
}

.root {
  background: #56777a;
  top: 60px;
}

.dropped-data, .dropped-type, .dropped-root  {
  position: relative;
  margin: 5px;
  height: 36px;
  width: 120px;
  border: 2px solid #ffffff;
  background: rgb(146, 52, 104);
  left: 10px;
  top: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 10x;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dropped-data{
  background: #1f383b;
}

.dropped-root {
  background: #56777a;
}



.type > .typeInput,
.root > .rootInput,
.dropped-type > .typeInput,
.dropped-root > .rootInput {
  width: 60%;
  border-radius: 10px;
  text-align: center;
  background-color: #75c2cc75;
  color: white;
  border: none;
}

/////////////////////////////////// Data
.pair {
  text-align: center;  
  position: relative;
}

.key {
  margin: 5px;
  height: 36px;
  width: 90%;
  border: 2px solid #ffffff;
  background: #1f383b;
  color: #fff;
  border-radius: 10px;
  font-size: 10x;
}

.data-list {
  margin: 10px;
  background: #00b4cca9;
  border-radius: 10px;
  width: 120px;
}

.pair > .key:hover {
  background-color: gray;
  transform: translateY(3px);
}

.pair > .key:active {
  background-color: orange;
  transform: translateY(6px);
}

.value {
  visibility: hidden;
  background-color: black;
  text-align: left;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px;
  white-space: pre;
  /* Position the tooltip */
  position: absolute;
  left: 105%;
  margin-top: -25px;
  z-index: 1;
  opacity: 0.7;
}

.value::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


/////////////////////////////////// Code

.code{
  height: 100%;
}

textarea {
  border-radius: 10px;
  width: 500px;
  height: 100%;
  margin: 10px;
  background: #0f1111a9;
  resize: vertical;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}








