body {
  background-image: url("https://cdn.wallpapersafari.com/42/56/WLmU5k.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgb(218,218,223);
  background: linear-gradient(23deg, rgba(218,218,223,1) 0%, rgba(30,38,37,1) 32%, rgba(47,50,51,1) 100%); */
  font-family: "Open Sans", sans-serif;
  overflow: hidden
}

h1 {
  text-align: center;
  color: white;
}

.content {
  display: flex;
}

/////////////////////////////////// Api
label {
  color: rgb(0, 110, 255);
}

.fetching {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  left: auto;
}

.api-fetching {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 20px;
 /*  border-radius: 5px 0 0 5px; */
  outline: none;
  background: rgba(155, 155, 155, 0.726);
  color: #ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
}

.api-fetching:focus {
  color: #ffffff;;
}

.fetchButton {
  height: 36px;
  background: #d3d3d3;
  text-align: center;
  color: rgb(63, 63, 63);
 /*  border-radius: 0 5px 5px 0; */
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

.fetchButton:hover {
  background-color: orange;
  font-size: 1.5em;
}

.fetchButton:active {
  background-color: orange;
  font-size: 1.2em;
}

/////////////////////////////////// Board
.board {
  width: 750px;
  outline: 2px solid white;
  background: red;
 
}

.query-root,
.query-type,
.query-data {
  height: 100%;
}

.mutation-board,
.query-board {
  display: grid;
  grid-template-columns: 33.3% 33.33% 33.33%;
  margin: 10px;
  border-radius: 10px;
  width: 700px;
  padding: 10px;
  min-height: 250px;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;

}

.mutation-board{
  grid-template-columns: 50% 50%;

}

.query-root,
.query-type,
.query-data,
.mutation-root,
.mutation-type {
  margin: 2px;
  background: rgba(190, 189, 189, 0.623);
  position: relative;
}

.query-root::after,
.query-type::after,
.query-data::after,
.mutation-root::after,
.mutation-type::after {
  margin: 2rem;
  font-size: 35px;
  position: absolute;
  color: rgba(37, 37, 37, 0.479);
  top: 0;
  left: 0;
  opacity: 0.5;

}

.query-root:after {
  content: "Root of Query";
}

.query-type:after {
  content: "Type of Query";
}

.query-data:after {
  content: "Data of Query";
}

.mutation-root:after {
  content: "Root of Mutation";
}

.mutation-type:after {
  content: "Type of Mutation";
}

.mutation-board > button, 
.query-board > button {
  position: absolute;
  width: 120px;
}

.left, .right {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 4%;
  top: 30%;
}

.right {
  left: 85%;
}

.line {
  transform-origin: top left;
  height: 2px;
  background: orange;
  position: absolute;
  z-index: 100;
}

.type, .root {
  position: absolute;
  margin: 5px;
  height: 36px;
  width: 120px;
  background: #81818180;
  left: 10px;
  top: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 10x;
  justify-content: center;
  align-items: center;
  display: flex;
}

.root {
  background: #81818180;
  top: 60px;
}

.clean {
    position: absolute;
    margin: 5px;
    height: 36px;
    width: 120px;
    background: #81818180;
    right: 10px;
    top: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 10x;
  justify-content: center;
  align-items: center;
    display: flex;
}

.dropped-data, .dropped-type, .dropped-root  {
  position: relative;
  margin: 10px;
  height: 36px;
  width: 120px;
  background: #000000ea;
  left: 10px;
  top: 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 10x;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 99;
}

.dropped-data{
  background: #000000ea;
}

.dropped-root {
  background: #000000ea;
}



.type > .typeInput,
.root > .rootInput,
.dropped-type > .typeInput,
.dropped-root > .rootInput {
  width: 60%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-bottom: 1px solid orange;
}

/////////////////////////////////// Data
.pair {
  text-align: center;  
  position: relative;
}

.key {
  margin: 5px;
  height: 36px;
  width: 90%;
  background: #81818180;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 10x;
}

.data-list {
  margin: 5px;
  padding: 10px;
  border-right: 2px solid white;
  width: 120px;
}

.pair > .key:active {
  background-color: orange;
  transform: translateY(6px);
}

.value {
  display: table;
  visibility: hidden;
  background-color: rgb(0, 0, 0);
  text-align: left;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px;
  white-space: pre;
  top:5px;
  left: 105%;
  margin-top: -25px;
  z-index:99;
  position: relative;
}

.value::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}


/////////////////////////////////// Code

.code{
  height: 100%;
}

textarea {
  width: 500px;
  height: 100%;
  margin: 10px;
  background: #0f1111a9;
  color: white;
  resize: vertical;
  box-shadow: 1px 1px 1px #999;
}








